.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: var(--border-radius-sm);
  border: none;
  white-space: nowrap;
  cursor: pointer;

  &.sm {
    font-size: var(--font-size-xs);
  }
  &.md {
    font-size: var(--font-size-md);
    height: 2.125rem;
  }
  &.lg {
    font-size: var(--font-size-lg);
    padding: 1rem 1rem;
    height: 3rem;
  }

  &.default {
    background-color: transparent;
    border-color: transparent;
  }

  &.primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--white-color);

    &:hover {
      background-color: #0b5ed7;
      border-color: #0b5ed7;
    }
  }

  &.secondary {
    background-color: var(--gray-color);
    border-color: var(--gray-color);
    color: var(--white-color);

    &:hover {
      background-color: #5c636a;
      border-color: #5c636a;
    }
  }

  &.lined {
    border: 2px solid currentColor;
    background: var(--white-color);

    &:hover {
      opacity: 0.7;
    }
  }

  &.disabled {
    background-color: var(--light-gray-color);
    border-color: var(--light-gray-color);
    color: var(--gray-color);
  }

  &.pure {
    background-color: var(--white-color);
    border-color: var(--white-color);
  }

  &.text_primary {
    color: var(--main-color);
  }

  &.text_secondary {
    color: var(--gray-color);
  }

  &.text_black {
    color: var(--black-color);
  }

  &.text_white {
    color: var(--white-color);
  }

  &.is_full {
    width: 100%;
  }

  &.is_icon {
    gap: 0.5rem;
  }

  &.is_shadow {
    box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &.is_opacity {
    &:hover {
      opacity: 0.8;
    }
  }

  &.is_icon_btn {
    border-radius: 50%;
    padding: 0;

    &.sm {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
    }

    &.md {
      width: 3.5rem;
      height: 3.5rem;
      font-size: 1.5rem;
    }

    &.lg {
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
    }
  }

  &.is_disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
