.menuContainer {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 2rem;
  place-items: center;
}

.buttonWrapper {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > button {
    margin-left: 0.5rem;
    > svg {
      width: 2rem;
      height: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-lg);
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-lg);
}

.checkWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.confirmWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 0.4rem;
  margin-top: 2rem;
}
