@import '@/styles/media.scss';

.pageWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 1rem 4rem 1rem;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.questionContainer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.questionBackground {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.margin {
  height: 50rem;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--chat-background-color);
  border-radius: var(--border-radius-sm);
  font-weight: 600;
}

.answer {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: var(--border-radius-sm);
  font-weight: 500;
}

.chatContainer {
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.chatWrapper {
  width: 768px;
  height: 100%;
  background-color: var(--background-color);
}

.chat {
  position: relative;
  height: 3rem;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--white-color);
  box-shadow:
    0px 0px 1px rgba(50, 50, 50, 0.05),
    0px 2px 4px rgba(50, 50, 50, 0.1);
}

.imageContainer {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  padding-left: 1rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #d4e4f4;
}

.uploadImage {
  position: relative;
  > img {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--gray-color);
    margin: 0.5rem 0;
  }
}

.cancel {
  position: absolute;
  bottom: 4.9rem;
  left: 4rem;
}

.input {
  flex-grow: 1;
  height: 3rem;
  border: none;
  font-size: var(--font-size-md);
  margin: 0 0.5rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--light-gray-color);
  }
}

.icon {
  margin-left: 0.2rem;
  z-index: 20;

  > button > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.send {
  margin-right: 0.5rem;
}

.button {
  position: absolute;
  bottom: 3.5rem;
  left: 0;
  background-color: var(--white-color);
  z-index: 20;
}

.addButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.title {
  margin: 0.5rem 0;
  font-size: var(--font-size-xxxl);
  font-family: 'JSArirangHON-Regular';

  @include mobile {
    font-size: var(--font-size-xxl);
  }
}

.img {
  margin: 2rem 0;
  width: 10rem;
  height: 10rem;
}

.exampleWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  background-color: rgba($color: #d9d9d9, $alpha: 0.2);
  border-radius: var(--border-radius-md);
  box-shadow:
    0px 0px 1px rgba(50, 50, 50, 0.05),
    0px 2px 4px rgba(50, 50, 50, 0.1);
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-md);
  background-color: var(--white-color);
  padding: 1rem;
  box-shadow:
    0px 0px 1px rgba(50, 50, 50, 0.05),
    0px 2px 4px rgba(50, 50, 50, 0.1);
  cursor: pointer;

  > svg {
    width: 2rem;
    height: 2rem;

    @include mobile {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.go {
  display: flex;
  align-self: flex-end;

  > svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.text {
  margin: 0.3rem;
}

.default {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrapper {
  flex-grow: 1;
}

.typingText {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(24) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
