.progressBar {
  background-color: var(--light-gray-color);
  width: 3rem;
  height: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-lg);
}

.hightlight {
  background-color: var(--main-color);
  height: 0.5rem;
  border-radius: var(--border-radius-lg);

  &.first {
    width: calc(3 * 0.2rem);
  }

  &.second {
    width: calc(3 * 0.4rem);
  }

  &.third {
    width: calc(3 * 0.6rem);
  }

  &.fourth {
    width: calc(3 * 0.8rem);
  }

  &.fifth {
    width: 3rem;
  }
}
