.container {
  position: absolute;
  width: 100%;
  height: 13rem;
  margin-top: 0.5rem;
  box-shadow:
    0px 0px 1px rgba(50, 50, 50, 0.05),
    0px 2px 4px rgba(50, 50, 50, 0.1);
  border-radius: 12px;
  background: var(--white-color);
  z-index: 100;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    margin-right: 5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
}

.loading {
  display: flex;
  justify-content: center;

  > img {
    width: 1rem;
    height: 1rem;
  }
}

.ellipsis {
  display: flex;
  justify-content: center;
}
