.pageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4.5rem 1rem 1rem 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    margin-right: 5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
}

.container {
  width: 100%;
  height: 20rem;
  margin-top: 14em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
}

.text {
  font-size: var(--font-size-xxl);
  font-family: 'JSArirangHON-Regular';
  color: var(--dark-gray-color);
}

.title {
  font-size: 10rem;
  font-family: 'JSArirangHON-Regular';
  color: var(--dark-gray-color);
}
