.pageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 20rem;
  margin-top: 14em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
}

.text {
  font-size: var(--font-size-xxl);
  color: var(--dark-gray-color);
}

.title {
  font-size: 10rem;
  color: var(--dark-gray-color);
}
