@import '@/styles/media.scss';

.pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem 1rem 1rem 1rem;
}

.profileWrapper {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    width: 10rem;
    height: 10rem;
  }
}

.name {
  font-size: var(--font-size-lg);
  margin-top: 1rem;
}

.container {
  width: 60%;

  @include mobile {
    width: 80%;
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-gray-color);
  border-radius: var(--border-radius-md);
  background-color: var(--white-color);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--light-gray-color);
  justify-content: space-between;
  padding: 1.2rem 1rem;
  cursor: pointer;
}

.delete {
  display: flex;
  align-self: center;
  margin-top: 0.5rem;
  color: var(--gray-color);
  font-size: var(--font-size-sm);

  > span {
    cursor: pointer;
  }
}
