.pageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: var(--main-color);
  font-size: var(--font-size-lg);
}

.text {
  font-size: var(--font-size-xxxl);
}

.title {
  font-size: 4rem;
}

.img {
  width: 12rem;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.btn {
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.85);
  border: none;
  background-color: #fee500;
  border-radius: 0.75rem;
  font-size: var(--font-size-lg);
  font-weight: 600;
  cursor: pointer;

  > img {
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
  }
}
