@import '@/styles/media.scss';

.pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 1rem 1rem 1rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileWrapper {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    width: 10rem;
    height: 10rem;
  }
}

.delete {
  color: var(--gray-color);
  margin-top: 0.5rem;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.btn {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
