@import '@/styles/media.scss';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  &__opened {
    animation: modal__bg_opened 0.3s;
  }

  &__closed {
    animation: modal__bg_closed 0.3s;
  }
}

.modal_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal_section {
  width: 768px;
  position: fixed;
  bottom: 0;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  overflow: hidden;

  &__default {
    background: var(--white-color);
  }
  &__primary {
    background: var(--main-color);
  }

  &__opened {
    animation: modal__opened 0.3s;
  }

  &__closed {
    animation: modal__closed 0.3s;
  }

  @include mobile {
    width: 100%;
  }
}

.modal_header {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem 3rem 1rem 3rem;
  color: var(--black-color);

  &__button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--font-size-xl);
    font-weight: 700;
    text-align: center;
    color: var(--black-color);
    background-color: transparent;
    border: 0;
  }
}

.modal_main {
  padding: 1rem;
  color: var(--black-color);
}

@keyframes modal__opened {
  from {
    opacity: 0;
    margin-bottom: -31.25rem;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}
@keyframes modal_bg__opened {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal__closed {
  from {
    opacity: 1;
    margin-bottom: 0px;
  }
  to {
    opacity: 0;
    margin-bottom: -31.245rem;
  }
}
@keyframes modal_bg__closed {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
